<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body class="bg-black text-green-200 font-mono">
    <%- include('./partials/navbar.ejs') %>
 
</body>

</html>