<footer class="flex border-t border-gray-400 justify-center py-2">
    <p class="text-center">Built by <span class="border-b border-gray-400"><a href="https://benjaminombeni.com/" target="blank">Benjamin Ombeni &copy; 2020</a></span></p>
</footer>