<nav class="flex justify-around pl-8 pb-2 pt-2 border-b border-gray-400 fixed w-screen bg-gray-900">
    <a href="/" class="pr-2">
        <h4>Converter</h4>
    </a>
 
    <a href="/codetable" class="pr-2">
        <h4>CodeTable</h4>
    </a>

    <a href="https://github.com/BenMob/Mips_Converter" target="blank" class="pr-2">
        <h4>Github</h4>
    </a>
</nav>