<nav class="flex justify-center pb-2 pt-2 border-b border-gray-400 fixed w-screen bg-gray-900">
    <a href="/" class="pr-2 hover:border-b border-gray-400">
        <h4 class="text-lg ">Converter</h4>
    </a>
 
    <a href="/codetable" class="pr-2 hover:border-b border-gray-400">
        <h4 class="text-lg">CodeTable</h4>
    </a>

    <a href="https://github.com/BenMob/Mips_Converter" target="blank" class="pr-2 hover:border-b border-gray-400">
        <h4 class="text-lg">Github</h4>
    </a>
</nav>