<nav class="d-flex p-4">
    <a href="/" class="mr-4">
        <h4>Home</h4>
    </a>
    <a href="/mips" class="mr-4">
        <h4>Mips</h4>
    </a>
    <a href="/registers" class="mr-4">
        <h4>Registers</h4>
    </a>
    <a href="/codetable" class="mr-4">
        <h4>CodeTable</h4>
    </a>
</nav>